<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">



</head>
<body>
<title>{{ subreddit }}</title>
<div  style="display: flex">
    <div style="width:33%">
    <h2>{{ title }}</h2>
    <img style="width: 100%; height: " src="{{ meme_pic }}" >
    <p>{{ post_link }}</p></div>
    <div style="width:33%">
<a style="width: 40%" class="twitter-timeline" data-theme="dark" href="https://twitter.com/1500tasvir_en?ref_src=twsrc%5Etfw">Tweets by 1500tasvir_en</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    </div>
</body>
</html>